# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.env/
.env.*
.venv/
venv/
ENV/
env/

# pyenv
.python-version

# pipenv
# Pipfile.lock should be committed if using it for deployment
# Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Airflow specific
logs/
airflow.db
airflow-webserver.pid

# Docker-related files
docker-compose.override.yml

# IDE directories
.vscode/
.idea/